# Ignore Python artifacts
*.pyc
__pycache__/

# Ignore Virtual Environment
venv/

# Ignore Django stuff
db.sqlite3
.env

# Ignore media uploads (optional, depending on your project)
media/

# Ignore VSCode config (optional)
.vscode/
.env
.env
