{% extends 'party/base.html' %}

{% block content %}
<title>Your Information</title>

{% for message in messages %}
    {% if message.tags == "error" %}
        {% with "danger" as alert_type %}
            <div class="alert alert-{{ alert_type }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endwith %}
    {% else %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
{% endfor %}

<div>
    <p>Hello! Please fill out this form to view the schedule, rsvp online (if you want), and view accommodations</p>
    <form method="POST" class="form-group" style="font-size: 14px;">
        {% csrf_token %}
        {% load crispy_forms_tags %}
        {{ form|crispy }}
        <button type="submit">Submit</button>
    </form>
</div>

{% endblock %}
