{% extends 'party/base.html' %}

{% block content %}
<title>Our Wedding Page</title>

{% for message in messages %}
    {% if message.tags == "error" %}
        {% with "danger" as alert_type %}
            <div class="alert alert-{{ alert_type }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endwith %}
    {% else %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
{% endfor %}

{% if user.is_authenticated %}
    <div class="container text-center">
      <h1 style="font-family: 'Times New Roman', Times, serif; font-size: 36px; color: #889bae;">Welcome {{user.first_name}}</h1>
    </div>

    <hr>
    <pre style="text-align: center; font-size: 12px; color: #889bae;">Feel free to look around and RSVP online.
    
    Location: Morais Vineyards & Winery
    (11409 Marsh Road, Bealeton, VA)
    </pre>
{% else %} 
    <div class="container text-center">
      <h1 style="font-family: 'Times New Roman', Times, serif; font-style: italic; font-size: 36px; color: #889bae;">Welcome!</h1>
    </div>

    <hr>
    <pre style="text-align: center; font-size: 12px; color: #889bae;">Welcome to our website! We are glad to have you guys join us for our big day!

Please fill out an information form, so you can view the whole website.
(if filled out already: <a href="/validation">click here to view other tabs</a>)
    </pre>
{% endif %}


{% load static %}

<div style="display: flex; justify-content: center; flex-wrap: wrap; gap: 16px; margin-top: 20px;">
  <img src="{% static 'party/save-the-date-pic.jpg' %}" style="width: 100%; max-width: 300px; height: auto;" alt="Save the Date">
  <img src="{% static 'party/hug-pic.jpg' %}" style="width: 100%; max-width: 300px; height: auto;" alt="Hug">
</div>


{% endblock %}
