{% extends 'party/base.html' %}

{% block content %}
{% load static %}

<style>
  .story-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1400px;
    width: 100%;
    padding: 40px 20px;
    margin: 0 auto;
    font-family: 'Georgia', serif;
    color: #3a2c1f;
  }

  .story-container h1 {
    text-align: center;
    font-size: 36px;
    color: #889bae;
    letter-spacing: 2px;
    margin-bottom: 20px;
    grid-column: 1 / -1;
  }

  .story-container .left {
    background-image: url("{% static 'party/first_date.jpg' %}");
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100%;
    border-radius: 10px;
  }

  .story-container .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }

  .story-container .right p {
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
  }

  .bottom-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    margin: 40px auto;
    padding: 20px;
  }

  .bottom-images img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
  }

  @media (max-width: 900px) {
      .bottom-images {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .bottom-images {
    grid-template-columns: 1fr;
  }
}
</style>

<div class="story-container">
  <h1>Our Story</h1>

  <div class="left"></div>

  <div class="right">
    <p>
      Amy and Kevin were both members and served at Agape Christian Fellowship (ACF) at JMU. One day, Kevin courageously asked Amy out... and was rejected!
      <br><br>
      After months of talking and hanging out, she gave him a chance — their relationship officially began in March 2019. Over the years, they grew in faith, love, and partnership.
      <br><br>
      After 5 years of dating, Kevin asked THE question, and Amy said YES!
    </p>
  </div>
</div>

<div class="bottom-images">
  <img src="{% static 'party/first_pic.jpg' %}" alt="First pic" />
  <img src="{% static 'party/banquet1.jpg' %}" alt="Banquet1" />
  <img src="{% static 'party/banquet2.JPG' %}" alt="Banquet2" />
  <img src="{% static 'party/senior_banquet.JPG' %}" alt="Senior banquet" />
  <img src="{% static 'party/grad.jpg' %}" alt="Graduation photo" />
  <img src="{% static 'party/flowers.jpeg' %}" alt="Flowers date" />
  <img src="{% static 'party/proposed.JPG' %}" alt="Proposal photo" />
  <img src="{% static 'party/ring.jpg' %}" alt="Engagement ring" />
  <img src="{% static 'party/engagement_sun.JPG' %}" alt="Engagement sun pic" />
</div>

{% endblock %}
